cover_db
META.yml
Makefile
blib
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
*/*/MANIFEST.bak
*/*/*.tar.gz
*.bak
inc/
*.swp
*.swo
*.bs
App-MadEye-*
/local/
carton.lock
/.carton/
/config.yaml
.build
_build_params
/Build
!Build/
!META.json
/madeye-*
/.build
/_build_params
